<<<<<<< HEAD
/* body{
=======
body{
>>>>>>> 1bfb1582988c644e02de2386c09cbb3e3ab50b24
  background-color: #F1F5F9;
}

.main-container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 1bfb1582988c644e02de2386c09cbb3e3ab50b24
