.welcome-section {
  margin: 30px 0px;
}

.post-section {
  display: flex;
  gap: 39px;
  align-items: flex-start;
  margin-top: 24px;
  flex-wrap: wrap;
}

.cards-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.create-post-main,
.feed-sidebar {
  flex: 1 1 480px; /* grow, shrink, min-size */
}

.feed-sidebar {
  margin: 40px auto;
}

.wave {
  animation: wave-animation 1.5s infinite;
  transform-origin: 70% 70%;
  color: #eacc51bf;
  transform: rotate(0deg) rotateY(180deg); /* عكس الاتجاه */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg) rotateY(180deg);
  }
  20% {
    transform: rotate(20deg) rotateY(180deg);
  }
  40% {
    transform: rotate(-10deg) rotateY(180deg);
  }
  60% {
    transform: rotate(20deg) rotateY(180deg);
  }
  80% {
    transform: rotate(-5deg) rotateY(180deg);
  }
  100% {
    transform: rotate(0deg) rotateY(180deg);
  }
}

.my-swal-popup {
  max-width: 600px !important;
  width: 100% !important;
  top: 60% !important;
  transform: translateY(-50%) !important;
}

@media (max-width: 600px) {
  .cards-section {
    flex-wrap: wrap;
  }
}